<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partial/head') %>
        <link rel="stylesheet" href="/css/product.css" />
        <link rel="stylesheet" href="/css/forms.css" />
    </head>

    <body>
        <header class="main-header"><%- include('../partial/header') %></header>
        <main><%- include('../partial/product-form', { action : '/admin/add-product', edit : false, product : null }) %></main>
    </body>
</html>
